button.show-more {
    width: 210px;
    height: 40px;
    margin : 0 auto;

    border: 1px solid $gray-4;
    border-radius: 3px;
    background-color: white;
    transition : all 0.2s ease-in;

    &> .title {
        font-size: 14px;
        color : $gray-1;
    }

    &:hover {
        background-color: $gray-5;

        &>.title {
            color : $black;
        }
    }
}