section.collection-section {
    margin-bottom: 100px;
    
    .grid-wrapper {
        display: grid;

        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;

        row-gap: 30px;
        column-gap: 35px;
    }
    
}