nav.sidebar {
    box-sizing: border-box;
    padding : 30px;
    z-index : 9;

    section.logo {
        margin-bottom: 50px;

        .logo-img {
            height : 17px;
            margin-right : 10px;
        }
        .logo-text {
            height : 32px;
        }
        .about {
            margin-top : 9px;

            p {
                color : $gray-3;
            }
        }
    }

    .nav-cell {
        width: 100%;
        height : 42px;
        padding : 10px;
        box-sizing: border-box;
        
        display: flex;
        flex-direction: row;
        align-items: center;

        position: relative;
        border-radius: 5px;

        & .title {
            font-size: 14px;
            font-weight: 500;
            color : $gray-1;
            transition: all 0.3s ease-in-out;
        }
        & i.cell-icon {
            color : $gray-2;
            margin-right : 8px;
            font-size : 18px;
            transition: all 0.3s ease-in-out;
        }
        & i.cell-icon-right {
            position: absolute;
            right : 3px;
            font-size: 16px;
            color : $gray-2;
            
        }

        // state 변화
        &.selected, &:hover {
            // background-color: $gray-5;
            & .title {
                color : $secondary-1;
            }
            & i.cell-icon {
                color : $secondary-1;
            }
        }
    }

    .divider {
        width : 100%;
        height : 1px;
        background-color : $gray-4;
        margin : 20px 0;
    }

    .nav-cell-menu {
        padding : 0px 7px;
        height : 0px;
        overflow-y: scroll;

        &> .menu-cell{
            width : 100%;
            min-height : 38px;
            background: $gray-5;
            border-radius: 3px;

            margin-bottom: 5px;

            display: grid;
            grid-template-columns: auto 10px;

            &> .title {
                padding : 8px 12px ;
            }
            &> .color {
                height : 100%;
                border-radius: 0 3px 3px 0;
                // background-color: $secondary-2;
            }
        }

        &.open {
            height : auto;
        }  
    }

    .nav-cell-search {
        background-color: $white;
        border : 1px solid $gray-4;

        input {
            width: 100%;
            height: 100%;
            color : $gray-1;
            &::placeholder {
                color : $gray-1;
            }
        }
    }

    .nav-cell-modal {
        position : relative;

        .event-handler-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

}