.user-profile {
    position: absolute;
    left : 0px;
    bottom : 0px;

    width : 100%;
    padding : 12px 15px 22px 15px;
    background-color: $white;

    &:hover {
        .profile-box{
            background-color: $gray-5;
        }
        .profile-menu {
            display: block;
        }
    }

    .profile-box {
        $height : 54px;
        cursor : pointer;

        width: 100%;
        height : $height;
        display: grid;
        grid-template-columns: $height auto $height/2;
        border-radius: $height / 2;

        color : black;
        background-color : white;
        transition : background-color 0.2s ease-in-out;
    }

    .thumbnail {
        width : 32px;
        height : 32px;
        border-radius: 50%;
        margin : 11px;

        background-size: cover;
        background-position: center;
    }
    
    i.more {
        font-size : 18px;
        color : $gray-1;
    }

    .profile-menu {
        display: none;

        position : absolute;
        left : calc(100% - 10px);
        bottom : 22px;

        width: 140px;
        //height : 100px;
        padding : 10px 0px;

        background-color: $white;
        border : 1px solid $gray-4;
        border-radius: 5px;

        &-cell {
            padding : 10px 15px;
            text-align: center;
            transition : background-color 0.2s ease-in-out;
            &:hover {
                background-color: $gray-5;
            }
        }
    }

}