.Modal-page-add-collection {
    position : fixed;
    top : 0px;
    left : 0px;
    width : 100vw;
    height : 100vh;  
    min-height: 580px;

    .Modal-page-background {
        position : fixed;
        background-color: rgba(black, 0.3);
        width : 100%;
        height : 100%;
    }

    .Modal-page-content {
        position : absolute;
        top : 50%;
        left : 50%;
        transform: translate(-50%, -50%);

        width : 480px;
        height : auto;
        background-color: white;
        border : 1px solid $gray-4;
        border-radius: 3px;

        padding : 24px 28px;
    }

    .collection-grid-wrapper {
        display: grid;
        grid-template-columns: 180px auto;
        column-gap: 24px;
    }
    .collection{
        &-thumbnail {
            .image {
                width : 180px;
                height: 180px;
                background-color: $gray-4;
                border-radius: 3px;
            }
            button.add-photo{
                width : 100%;
                background-color: $gray-1;
                padding : 5px 10px;
                border-radius: 3px;
                margin-top: 10px;

                color : white;
                font-size : 12px;
            }
        }

        &-information {
            input[type=text], input[type=button] {
                width: 100%;
                padding : 10px 12px;

                border: 1px solid $gray-4;
                border-radius: 3px;
                color : $black;
            }

            input[type=checkbox]{
                width : 16px;
                height: 16px;
                border: 1px solid $gray-2;
                appearance: auto;

                &:checked {
                    background-color: $gray-1;
                }
            }

            .desc {
                font-size: 11px;
                color : $gray-2;
                margin-top: 3px;;
            }

        }
    }

    .collection-controller {
        grid-column-start: 1;
        grid-column-end: 3;

        display: flex;
        width: 100%;
        justify-content: center;

        margin-top : 20px;
        margin-bottom : 5px;;
        column-gap: 10px;

        button {
            padding : 10px 24px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 100px;
        }
        button.cancel {
            background-color : $gray-2;
            color : $gray-1;
        }
        button.done {
            background-color: $gray-1;
            color : white;
        }
    }

}

.collection-information .categories{
    position : relative;

    &-box {
        width: 100%;
        padding : 10px 12px;
        border: 1px solid $gray-3;
        border-radius: 3px;

        display : grid;
        grid-template-columns: auto 14px;
        
        i { 
            font-size: 12px; color : $gray-1
        }
        button.fold {
            display: none;
        }
    }

    &-list {
        position : absolute;
        z-index : 9;
        overflow-y: scroll;

        width : 100%;
        height : 100px;
        background-color: white;
        border : 1px solid $gray-3;

        &-cell {
            padding : 10px 15px;
            border-bottom : 1px solid $gray-2;
            display: grid;
            grid-template-columns: auto 12px;

            i { visibility: hidden; }
            &.checked {
                i { visibility: visible; }
            }
        }
    }
}