// colors
$black : #1e212b;
$white : #ffffff;

$gray-1 : #53596e;
$gray-2 : #858a9e;
$gray-3 : #b8bbcc;
$gray-4 : #dadbe6;
$gray-5 : #f0f2f5;

$primary-1 : #ed4d13;
$primary-2 : #fc835d;
$primary-3 : #ffbaa3;
$secondary-1 : #266cde;
$secondary-2 : #629eff;
$secondary-3 : #bed6ff;

$palette-1 : $primary-2;
$palette-2 : #fca84e;
$palette-3 : #fcd931;
$palette-3 : #cceb42;
$palette-3 : #75eb77;
$palette-3 : #66e8c8;
$palette-3 : #82e5e8;
$palette-3 : #72cefc;
$palette-3 : $secondary-2;

// font size
